body {
    background-color: rgb(199, 241, 241);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 29, 29);
    font-size: 16px;
    line-height: normal;
}
h1, h2, h3 {
    color: rgb(34, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    
}
h1 {
    font-size: 30px;
    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.container {
    width: 500px;
    margin: 0 auto;
}
.card {
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(90, 238, 147);
    border-radius: 10px;
    margin: 5px;
}
a {
    text-decoration: none;
    padding: 0.5em;
    
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.social {
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0px;
}
#coders {
    color: #3f6fae;
    /* background-color: rgb(142, 142, 199); */
    border-radius: 8px;
    transition: 1s ease;
}
#coders:hover {
    background-color: rgb(92 212 203);
    padding: 0.3em 1em;
    border-radius: 16px;
    transition: 1s ease;

}